<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
        <li>
            <a class="nav-link active"  data-toggle="tab" [routerLink]="['/home']">
               Home
             </a>
          </li> 
          <li class="nav-item">
              <a routerLink="/user" class="nav-link" routerLinkActive="active">
                Users
              </a>
            </li>
       <li class="nav-item">
        <a routerLink="/company" class="nav-link" routerLinkActive="active">
          Company
        </a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" routerLinkActive="active">
          Contact
        </a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/subject" class="nav-link" routerLinkActive="active">
          Parent Subject
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/subject2" class="nav-link" routerLinkActive="active">
          Sibling Subject
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a routerLink="/form" class="nav-link" routerLinkActive="active">
         Reactive form
        </a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/userngrx" class="nav-link" routerLinkActive="active">
         UserNGRX
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactngrx" class="nav-link" routerLinkActive="active">
         ContactNGRX
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>